<!DOCTYPE html>
{% load i18n %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Elrond</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-[#F0F1C5]">
  
{% comment %} lan switch {% endcomment %}
  <p>{% trans "Welcome to the site!" %}</p>

<form action="{% url 'set_language' %}" method="post">
    {% csrf_token %}
    <select name="language" onchange="this.form.submit()">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% for lang_code, lang_name in LANGUAGES %}
            <option value="{{ lang_code }}" {% if lang_code == LANGUAGE_CODE %}selected{% endif %}>
                {{ lang_name }}
            </option>
        {% endfor %}
    </select>
</form>
{% comment %} lan switch {% endcomment %}

<nav>
  <ul>
    <li><a href="{% url 'home' %}">Articles</a></li>
    <li>
      {% if user.is_authenticated %}
      <form method="POST" action="{% url 'account_logout' %}">
          {% csrf_token %}
          <button type="submit">Log out</button>
        </form>
      {% else %}
        <a href="{% url 'account_login' %}">Log in</a>
      {% endif %}
    </li>
  </ul>
</nav>


 
{% block content %}

{% endblock content %}

<footer class="bg-[#BF9264]">Footer</footer>
</body>
</html>
